body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;

}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.mountain{
    margin-top: 50px;
}

.top-container{
    background-color: #DFF6FF;
    margin: 0;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    
}

.bottom-container{
    
}