body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;   
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
}

p{
    color: #40514e;
    line-height: normal;
    font-weight: bold;
}

hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border: none;
    border-top: 7px dotted #eaf6f6;
    width: 3%;
} 

.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.mountain{
    margin-top: 8%;
}

.top-container{
    background-color: #DFF6FF;
    margin: 0;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin-top: 50px;
        
}

.middle-container p{
    margin-top: 10px;
    text-align: center;
        
}

.skill-row{ 
    width: 50%;
    margin: 100px auto 100px auto;
}

.profile-img{
    width: 15%;
    height: 15%;
    margin: 0 auto 0 auto;
}


.interpret-img{
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 50px;
}

.computer-img{
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row p{
    text-align: left;
    line-height: 2;
}

.skill-row h3{
    text-align: left;
}

.bottom-container{
    background-color: #66BFBF;
    width: 100%;
    height: 200px;   
    
}
.bottom-container p{
    color: #EAf6f6;
    line-height: normal;
}