body{
    margin: 0;
}

h1{
    margin-top: 0;
}

.top-container{
    background-color: #DFF6FF;
    margin: 0;  
}

.middle-container{
    height: 200px;
    width: 200px;
    background-color: darkgreen;
}

.bottom-container{
    height: 200px;
    width: 200px;
    background-color: darkorange;
}